# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
*.db
# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/env
.env


# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Log files
*.log

# Ignore secret keys and sensitive information
*.secret_key
*.env

node_modules
.next
Dining
dining
DineVision/dining