<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
    <title>My AR App</title>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <a-asset-item id="model" src="hamburger/scene.gltf"></a-asset-item>
      </a-assets>
      <a-marker preset="hiro">
        <a-entity
          gltf-model="#model"
          position="0 0 0"
          scale=".5 .5 .5"
        ></a-entity>
      </a-marker>
      <a-entity camera></a-entity>
    </a-scene>
  </body>
</html>
